body {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rps_main_container {
  display: flex;
  flex-direction: column;
}

.rps_main_text {
  margin: 0 auto;
  margin-top: 4.5rem;
  text-align: center;
}

.image {
  background-color: transparent;
  border: 0ch;
  text-align: center;
}

.rps_main_logo {
  margin: 0 auto;
  text-align: center;
  margin-top: 3.75rem;
}

.rps_text {
  margin: 2.625rem auto;
  color: #494646;
  font-weight: 400;
  font-size: 0.875rem;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  font-family: "NanumSquareAcr";
}

#start_button {
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 3.875rem;
  margin-bottom: 5rem;
}

#start_button:hover {
  cursor: pointer;
}
