@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: auto;
  display: flex;
  flex-direction: column;

  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

cross_img {
  position: relative;
  right: 300px;
  top: 10px;
}

main_text {
  margin-top: 40px;
}

small_text {
  margin: 0 auto;
  font-size: 14px;
  width: 300px;
  position: relative;
  margin-top: 40px;
  font-family: "NanumSquareAcr";
  color: gray;
}

main_logo {
  margin-top: 40px;
  text-align: center;
  position: relative;
}

#center {
  text-align: center;
  margin-top: 40px;
}

.image {
  background-color: transparent;
  border: 0ch;
}

#start_botton {
  margin-bottom: 0px;
  position: relative;
  top: 50px;
}

#logo_word {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 16.75rem;
  height: 8.563rem;
}
