@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
}

top_button {
  margin-top: 1.25rem;
  text-align: center;
}

bar {
  margin-bottom: 3.75rem;
  margin-top: 1.25rem;
}

number {
  position: relative;
  top: -1.25rem;
}
number_buttom {
  position: relative;
  top: -0.625rem;
  font-family: "NanumSquareAcr";
}

guess_button {
  position: relative;
  margin-top: 3.125rem;
}

button_background {
  position: relative;
  right: 11.25rem;
}
guess_text {
  width: 25rem;
  position: absolute;
  top: -90%;
  color: white;
  right: 1.875rem;
  bottom: 1.25rem;
  font-family: "NanumSquareAcr";
  text-align: center;
}

answer_text {
  position: absolute;
  color: black;
  left: 8.125rem;
  top: 0.9375rem;
  text-align: center;
  font-family: "NanumSquareAcr";
  font-size: 1rem;
}

answer_box {
  position: relative;
}

number {
  position: relative;
  bottom: 5rem;
}

.image {
  border: 0ch;
  background-color: white;
  text-align: center;
  position: relative;
}

#back_button {
  position: relative;
  right: 26.875rem;
}

#reset_button {
  position: relative;
  background-color: white;
  left: 21.875rem;
}

#guess_button_a {
  position: relative;
  left: 11.25rem;
  bottom: 2.5rem;
}

#guess_button_b {
  position: relative;
  left: 11.25rem;
  bottom: 0.625rem;
}

#guess_button_c {
  position: relative;
  left: 11.25rem;
  top: 1.25rem;
}

.button_hover:hover {
  content: url("./img_file_twenty/twenty_guess_yellow_answer.svg");
}

.bottom_text {
  position: absolute;
  bottom: 0.3125rem;
  right: 0.75rem;
}

#bottom_button {
  position: relative;
  top: 3.75rem;
}

#guess_number {
  font-size: 1.5625rem;
  font-family: "Montserrat", sans-serif;
  font-family: Arial;
}

.skip_image {
  position: relative;
}

skip {
  position: relative;
  top: 3.75rem;
}

#jb {
  width: 20%;
  height: 1.875rem;
}

#jb {
  appearance: none;
}
#jb::-webkit-progress-bar {
  background: #f0f0f0;
  border-radius: 0.625rem;
  box-shadow: inset 0rem 0rem 0.125rem #ccc;
}
#jb::-webkit-progress-value {
  border-radius: 10rem;
  background: #1d976c;
  background: -webkit-linear-gradient(to right, #e06437, #e06437);
  background: linear-gradient(to right, #e06437, #e06437);
}
