@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main_logo{
    text-align: center;
    margin-top: 30px;
  
}
  

.image {
    background-color: transparent;
    text-align: center;
    width: 10px;
  
}
  
  #start_botton {
    text-align: center;
    /*width: 100%;*/
    margin-bottom: 0px;
    position: relative;
    bottom: 10px;
  
}
  
#logo_word {
    text-align: center;
    /*width: 100%;*/
    margin-top: 100px;
    margin-bottom: 100px;
  
}

tutorial{
    position: relative;
    top: 00px;
    margin-bottom:250px;
    text-align: center; 
    /*
    
    max-height: 500px;
    overflow: hidden;
*/
    
}

tutorial img{
    position: absolute;
    clip:rect(62px, 291px, 239px, 9px);
    left: 618px;
    
    /*
    
    max-height: initial;
    margin-top: -4.1%;
    margin-bottom: -4.3%;
    max-width: initial;

    transform: translate(10, 50);
    width: 50%;
    height: 50%;
    object-fit: cover;
    margin: auto;
    position: absolute;
    */
}
.gif{
    border-radius:132px;
}

#back_botton{
    position: relative;
    right: 470px;
    top: 20px;
    border: 0ch;
}

texts{
    position: relative;
    margin: 50px;
    font-family: "NanumSquareAcr";
    font-size: 14;
    margin-bottom:100px;
}