@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

logo {
  margin-top: 30px;
  margin-bottom: 20px;
}

main_logo {
  margin-top: 30px;
}

.image {
  background-color: transparent;
  width: 10px;
}

#start_botton {
  margin-bottom: 0px;
  bottom: -20px;
}

tutorial {
  top: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.gif {
  border-radius: 20px;
}

texts {
  font-family: "NanumSquareAcr";
  font-size: 14;
  margin-bottom: 50px;
}
