@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  scroll-behavior: smooth;
}

.image {
  border: 0ch;
  margin: 0rem;
  background-color: transparent;
  text-align: center;
  position: relative;
}

#logo_word {
  position: relative;
  top: 3.125rem;
}

#back_button {
  position: relative;
  right: 26.875rem;
  top: 1.875rem;
}
food_text {
  color: orange;
  position: relative;
  top: 3.125rem;
  margin-top: 3.75rem;
  font-family: "NanumSquareAcr";
  font-size: 3rem;
}

wave {
  position: relative;
  top: 3.4375rem;
}

food_img {
  position: relative;
  top: 4.375rem;
  margin: 3.125rem;
  margin-bottom: 3.75rem;
}

connect_top {
  position: relative;
  bottom: 0rem;
  top: 00rem;
}

connect_line {
  position: relative;
  height: 37.5rem;
}
button {
  border: 0rem;
  margin: 0rem;
}
bottom_button {
  vertical-align: middle;
  height: 100%;
  position: relative;
  text-align: center;
  width: 90%;
  display: flex;
}

#left {
  flex: 1;

  border: 0rem;
  margin: 0.0625rem;
  position: relative;
  left: 12.5rem;
}

#right {
  flex: 1;

  border: 0rem;
  margin: 0.0625rem;

  position: relative;
  left: 00rem;
}

#go_top {
  position: relative;
  left: 43.75rem;
}

.yellow_button {
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 65.875rem;
  left: 61.1875rem;
  opacity: 0.5;
  background-color: transparent;
}

#top_button {
  position: fixed;
  right: 0.3125rem;
  bottom: 0.625rem;
  z-index: 9999;
}

a {
  scroll-behavior: smooth;
}
