@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

top_botton {
  text-align: center;
  bottom: 23.75rem;
}

text {
  position: relative;
  color: black;
  text-align: center;
  top: 3.125rem;
  right: 11.875rem;
}

.image {
  border: 0ch;
  top: 43.75rem;
  background-color: transparent;
  text-align: center;
  position: relative;
}

#back_botton {
  position: relative;
  right: 26.875rem;
  top: 1.875rem;
}

loading {
  position: relative;
  text-align: center;
  left: 6.25rem;
  top: 6.25rem;
}
