@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

logo{
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

main_logo{
    text-align: center;
    margin-top: 30px;
  
}
  

.image {
    background-color: transparent;
    text-align: center;
    width: 10px;
  
}
  

#start_botton {
    text-align: center;
    margin-bottom: 0px;
    position: relative;
    bottom: -20px;
}
  
#logo_word {
    text-align: center;
}

tutorial{
    top: 50px;
    margin-bottom:30px;
    margin-top: 30px;
}

.gif{
    border-radius:20px;
    text-align: center;
}

#back_botton{
    position: relative; 
    right: 470px;
    top: 20px;
    border: 0ch;
}


texts{
    position: relative;
    font-family: "NanumSquareAcr";
    font-size: 14;
    margin-bottom:50px;

}