@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
}

top_button {
  margin-top: 20px;
  text-align: center;
}

bar {
  margin-bottom: 60px;
  margin-top: 20px;
}

number {
  position: relative;
  top: -20px;
}
number_buttom {
  position: relative;
  top: -10px;
  font-family: "NanumSquareAcr";
}

guess_button {
  position: relative;
  margin-top: 50px;
}

button_background {
  position: relative;
  right: 180px;
}
guess_text {
  width: 400px;
  position: absolute;
  top: -90%;
  color: white;
  right: 30px;
  bottom: 20px;
  font-family: "NanumSquareAcr";
  text-align: center;
}

answer_text {
  position: absolute;
  color: black;
  left: 130px;
  top: 15px;
  text-align: center;
  font-family: "NanumSquareAcr";
  font-size: 16px;
}

answer_box {
  position: relative;
}

number {
  position: relative;
  bottom: 80px;
}

.image {
  border: 0ch;
  background-color: white;
  text-align: center;
  position: relative;
}

#back_button {
  position: relative;
  right: 430px;
}

#reset_button {
  position: relative;
  background-color: white;
  left: 350px;
}

#guess_button_a {
  position: relative;
  left: 180px;
  bottom: 40px;
}

#guess_button_b {
  position: relative;
  left: 180px;
  bottom: 10px;
}

#guess_button_c {
  position: relative;
  left: 180px;
  top: 20px;
}

.button_hover:hover {
  content: url("./img_file_twenty/twenty_guess_yellow_answer.svg");
}

/*
answer_text:hover ~ .button_hover {
  content: url("./img_file_twenty/twenty_guess_yellow_answer.svg");
  position: absolute;
  left: 615px;
  top: 1500px;
  src = './img_file_twenty/twenty_guess_yellow_answer.svg'
}
*/

.bottom_text {
  position: absolute;
  bottom: 5px;
  right: 12px;
}

#bottom_button {
  position: relative;
  top: 60px;
}

#guess_number {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-family: Arial;
}

.skip_image {
  position: relative;
}

skip {
  position: relative;
  top: 60px;
}

#jb {
  width: 20%;
  height: 30px;
}

#jb {
  appearance: none;
}
#jb::-webkit-progress-bar {
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: inset 0px 0px 2px #ccc;
}
#jb::-webkit-progress-value {
  border-radius: 10px;
  background: #1d976c;
  background: -webkit-linear-gradient(to right, #e06437, #e06437);
  background: linear-gradient(to right, #e06437, #e06437);
}
