name: backend CI

on:
  push:
    branches:
      - develop
      - main
    paths:
      - "backend/**"
  workflow_dispatch:
defaults:
  run:
    working-directory: ./backend
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Test with Gradle
      run: ./gradlew test
      
    - name: Build with Gradle
      run: ./gradlew build

    - name: Make Directory
      run: mkdir -p deploy

    - name: Copy Jar File
      run: cp ./build/libs/*.jar ./deploy

    - name: Make zip file
      run: zip -r mwomeokji.zip ./deploy

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ap-northeast-2

    - name: Upload to S3
      run: aws s3 cp mwomeokji.zip s3://mwomeokji/backend_build_files/ --acl private